.content {
    display: flex;
    flex-wrap: wrap;
    .image-frame {
        position: relative;
        background: white;
        padding: 10px;
        margin: 10px;
        flex-basis: 48%;
    }
}
  
.image {
    transition: .5s ease;
}
  
.middle {
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    width: 80%;
}

.image-frame:hover {
    .image {
    opacity: 0.3;
    }
    .middle {
        opacity: 1;
    }
}

.btn-text {
    background-color: #353353;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.more-btn {
    text-decoration: none;
    border: none;
    margin-top: 60px;
}

.project-role {
    margin-bottom: 30px;
}

.skill {
    padding: 3px;
    margin: 0 4px;
    border-radius: 4px;
    background: #ffd15c;
    color: white;
    font-weight: bold;
}